<hr/>
<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>&#x1f12f; {{ currentyear }}</span>
  </a>
  <div class="redes">
  <a title="Twister" href="https://twitter.com/intratextual" target="_blank">Twitter</a> |
  <a title="IG" href="https://instagram.com/diosenfermo" target="_blank">Instagram</a> |
  <a title="eMail" href="mailto:hola@mrleon.space?subject=contacto" target="_blank">Correo</a>
  </div>
</footer>
