<!-- navigation.html contents -->

{% assign links = site.data.menu %}

<ul>
{% for link in links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.name }}
    </a>
  </li>
{% endfor %}
</ul>


<style media="screen">
  .site-nav {
  ul {
    font-size: $h7;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include desktop {
      font-size: $h6;
    }
  }

  li {
    display: inline-block;
    margin-right: $sone;
    line-height: $sone * 2;

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      line-height: $vrythm;
    }

    @include desktop {
      margin-right: $sone * 1.25;
    }
  }
}

</style>
