<!-- navigation.html contents -->

{% assign links = site.data.menu %}

<ul class="dropdown">
         {% for link in links %}
             {% if page.url contains link.url %}
                 {% assign class = 'active' %}
             {% endif %}
             {% if link.sublinks %}
                 <li >
                     <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                     <ul class="dropdown-contents">
                         {% for sublink in link.sublinks %}
                             {% if sublink.title == 'separator' %}
                                 <li></li>
                             {% else %}
                                 <li>
                                     <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                 </li>
                             {% endif %}
                         {% endfor %}
                     </ul>
                 </li>
             {% else %}
                 <li>
                     <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                 </li>
             {% endif %}
         {% endfor %}
</ul>
