---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* globales */



:root {
  --mainColor: #FA5858;
}

a {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
  color: #FA5858;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
  color: #FA8258;
}

a:visited {
  color: #6E6E6E;
}

/* Etiquetas y categorías */

.label{
  display:inline;
  padding:.2em .6em .3em;
  font-size:75%;
  font-weight:bold;
  line-height:1;
  color:#ffffff;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:.25em;
}


.label-success{
  background-color: #F7BE81;
}
a.label-success:hover{
  background: #FA8258;
  color:#ffffff;
  text-decoration:none;
  cursor:pointer;
}
a.label-success,.categoria:visited {
  color: #E6E6E6;
}
.categoria{
  font-family: monospace;
  color: #A4A4A4;
}

/* hr */

.separator{
  border: 0;
   height: 1px;
   width: 15%;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
